---
import "@fontsource-variable/inter";
import "@fontsource/space-mono/400.css";
import "@fontsource/space-mono/700.css";
import "@/styles/main.css";

import Body from "@/components/layout/Body";
import Header from "@/components/layout/Header";
import Main from "@/components/layout/Main";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Dante Nardo's portfolio website" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <Body>
    <Header client:load />
    <Main>
      <slot />
    </Main>
  </Body>
</html>
